.idea/
.gradle
/gradle
*.iml
target
gradlew
gradlew.bat
so-context/build/classes/main/com/pineone/icbms/so/context/ContextInterface.class
so-context/build/classes/main/com/pineone/icbms/so/context/DatabaseInterface.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/ContextModel.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/domain/Domain.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/domain/Domain_Note.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/domain/Domain_SDA.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/domain/Domain_SO.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/itf/database/MapController_ContextModel.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/itf/external/sda/SdaController_ContextModel.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/itf/external/sda/SdaController_Domain.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/pr/UserController_ContextModel.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/pr/UserController_Domain.class
so-context/build/classes/main/com/pineone/icbms/so/context/contextmodel/type/ContextType.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/GeneralContext.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/CompositeVirtualObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/ConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/DeviceCenter.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/DeviceObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/HanyangConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/TempConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/device/VirtualObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/exception/DataLossException.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/itf/database/MapController_GeneralContext.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/itf/external/sda/SdaController_GeneralContext.class
so-context/build/classes/main/com/pineone/icbms/so/context/general/pr/UserController_GeneralContext.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/address/AddressStore.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/address/ContextAddress.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/check/DataValidation.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/conversion/DataConversion.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/http/ClientService.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/response/ResponseMessageToUser.class
so-context/build/classes/test/com/pineone/icbms/so/DomainTest.class
so-context/build/classes/test/com/pineone/icbms/so/GeneralContextTest.class
