.idea/
.gradle
/gradle
*.iml
target
gradlew
gradlew.bat
so-context/build/classes/main/com/pineone/icbms/so/context_information/store/ContextInformationMapStore.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/store/ContextInformationStore.class
so-context/build/classes/test/com/pineone/icbms/so/ContextInformationPresentationTest.class
so-context/build/classes/test/com/pineone/icbms/so/ContextInformationStoreTest.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationProxy$1.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationProxy$2.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationProxy.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/entity/Domain.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/DomainLogic.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/pr/DomainPresentation.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/proxy/DomainProxy$1.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/proxy/DomainProxy.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/ref/Domain_Note.class
so-context/build/classes/main/com/pineone/icbms/so/util/conversion/DataConversion.class
so-context/build/classes/main/com/pineone/icbms/so/util/http/ClientService.class
so-context/build/classes/test/com/pineone/icbms/so/context_information/ContextInformationPresentationTest.class
so-context/build/classes/test/com/pineone/icbms/so/context_information/ContextInformationStoreTest.class
so-context/build/classes/test/com/pineone/icbms/so/context_model/DomainPresentationTest.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/entity/ContextModel.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/ContextModelLogic.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/ContextTypeLogic.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/pr/ContextModelPresentation.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/ref/ContextType.class
so-context/build/classes/test/com/pineone/icbms/so/context_model/ContextModelPresentationTest.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/logic/ContextInformationLogicImpl.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationSDAProxy$1.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationSDAProxy$2.class
so-context/build/classes/main/com/pineone/icbms/so/context_information/proxy/ContextInformationSDAProxy.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/ContextModelLogicImpl.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/ContextTypeLogicImpl.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/logic/DomainLogicImpl.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/proxy/DomainSDAProxy$1.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/proxy/DomainSDAProxy.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/store/ContextModelMapStore.class
so-context/build/classes/main/com/pineone/icbms/so/context_model/store/ContextModelStore.class
so-context/build/classes/test/com/pineone/icbms/so/context_model/ContextModelStoreTest.class
